@font-face {
  font-family: "Imported";
  src: url("../../assets/fonts/APOLLO-Regular.woff") format("woff");
}
:root {
  --primary-color: #b19545;
}

.modalButton {
  display: flex; /* Adjust width to fit content */
  align-items: center; /* Center items vertically */
  /* justify-content: center; Center items horizontally */
  border: 1px solid #b19545; /* Border styling */
  border-radius: 4px; /* Optional: Add some border radius for button feel */
  padding: 5px 10px; /* Padding for button feel */
  background-color: transparent; /* Optional: Background color for button feel */
  cursor: pointer; /* Change cursor to pointer */
  transition: background-color 3s; /* Smooth transition for hover effect */
}

/* .modalButton:hover {
  background-color: #500707; 
 
} */

.modalButton p {
  font-family: "Imported", sans-serif;
  background-image: linear-gradient(#c4a750 30%, #faec79 50%, #b19545 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.vectorImgContainer {
  display: flex;
  align-items: center; /* Center image vertically */
  justify-content: center; /* Center image horizontally */
  width: 12px;
  height: 12px; /* Ensure this matches the intended size */
  margin-left: 5px; /* Space between text and image */
}

.vectorImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.searchBox {
  border: 2px solid var(--primary-color);
  border-radius: 7px;
  height: 40px;
  width: 400px;
  display: flex;
  justify-content: center;
  /* background-color: #585858; */
  align-items: center;
}
.searchImgContainer {
  width: 20px;
  height: 20px;
  margin-inline: 10px;
  display: flex;
  align-items: center;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.inputs {
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  /* padding-bottom: 5px; */
  color: #fff;
  font-family: Imported;
  letter-spacing: 3px;
}
.inputs::placeholder {
  color: #c0b7b7;
  font-weight: 500;
  font-family: Imported;
}
